* {
    box-sizing: border-box;
}

body {
    background: rgba(255, 255, 255, 0.5);
    font-family: "Open sans", Verdana, Arial, Calibri, sans-serif;
    color: #000;
    margin: 0;
    padding: 0;
}

#overlay_dark {
    display: none;
    z-index: 10;
    position: fixed;
    background-color: rgba(64, 64, 64, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.btn-outline{
    outline: 0;
    padding: 0 55px;
    height: 45px;
    border: 1px solid #000;
    color: #000;
    background: #fff;
    border-radius: 45px;
    font-size: 20px;
    font-weight: 800;
}
.btn-outline.btn-green {
    border-color: #6fb35d;
    color: #6fb35d;
    transition: all 0.2s ease;

}
.btn-outline.btn-green:hover {
    background-color: #6fb35d;
    color: #fff;
}

@keyframes bobble {
    0% {
        transform: translate3d(0, 0, 0);
        animation-timing-function: ease;
    }
    50% {
        transform: translate3d(0, 10px, 0);
        animation-timing-function: ease;
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}
/*
 *                   - Menu
 */

.navbar {
    position: fixed;
    height:60px;
    width: 100%;
    line-height: 60px;
    background-color: #6fb35d;
    text-align: center;
}

.navbar__item {
    display: inline-block;
    vertical-align: middle;
    padding: 0 35px;
    margin-top: -6px;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #6fb35d;
}

.navbar__item.current,
.navbar__item:hover {
    border-bottom: 2px solid rgba(191, 255, 201, 0.9);
}

/*
 *                   - Header
 */

.header {
    background-image: url(../img/design/background-header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 500px;
}

/*
 *                   - Content
 */

.content > .section-960 {
    margin: auto;
    width: 960px;
    overflow-x: hidden;
}
.content > .section-w100p {
    z-index: -1;
    width: 100%;
    height: 30px;
    text-align: center;
}

/*
 *                   - Content (Description)
 */
.content > .section-960.description {
    padding-top: 100px;
    padding-bottom: 100px;
}
.content > .section-960.description > h1 {
    margin-bottom: 60px;
    font-size: 24px;
    color: #3c5c22;
    text-align: center;
    font-weight: 800;
}

.content > .section-960.description > p {
    padding: 0 35px;
    text-align: justify;
    margin-bottom: 30px;
}

/*
 *                   - Content (Gallerie)
 */

.content > .section-w100p.gallery {
    height: 159px;
    font-size: 0;

    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/design/background-gallery.jpg);
    background-color: #eee;
}

.content > .section-w100p.gallery > .section-960 {
    display: flex;

    /** Responsivité **/
    height: 159px;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    /** Responsivité **/
}

.content > .section-w100p.gallery > .section-960 > .gallery-item {
}

/*
 *                   - Content (Notre menu)
 */

.content > .section-960.menu {
    padding-top: 60px;
}


.content > .section-960.menu > h2 {
    background-image: url(../img/design/notremenu-title.jpg);
    height: 73px;
    width: 261px;
    margin: auto;
    font-size: 0;
}

.content > .section-960.menu > .menu-left {
    background-image: url(../img/design/notremenu-aside.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 417px;
    width: 50%;
    float: left;
}
.content > .section-960.menu > .menu-right {
    float: right;
    width: 50%;
}
.content > .section-960.menu > .menu-right > p {
    padding: 50px 0 50px;
    width: 300px;
    margin: auto;
    font-size: 24px;
    text-align: center;
}
.content > .section-960.menu > .menu-right > .center {
    margin: auto;
    text-align: center;
}

/*
 *                   - Content (Contact)
 */


.content > .section-w100p.contact {
    margin-top: 100px;
    padding-bottom: 140px;
    background-color: #6fb35d;
    height: auto;
}
.content > .section-w100p.contact > .section-960 > .title {
    display: block;
}
.content > .section-w100p.contact > .section-960 > .title > h2 {
    display: inline-block;
    position: relative;
    padding: 40px 0 95px;
    color: #fff;
    font-size: 32px;
}

.content > .section-w100p.contact > .section-960 > .title > h2:before,
.content > .section-w100p.contact > .section-960 > .title > h2:after {
    content: "";
    position: absolute;
    padding-top: 57px;
    height: 5px;
    border-bottom: 1px solid white;
    top: 0;
    width: 400px;
}
.content > .section-w100p.contact > .section-960 > .title > h2:before {
    right: 100%;
    margin-right: 10px;
}
.content > .section-w100p.contact > .section-960 > .title > h2:after {
    left: 100%;
    margin-left: 10px;
}
.content > .section-w100p.contact > .section-960 > .row {
    width: 960px;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    font-weight: lighter;
}
.content > .section-w100p.contact > .section-960 > .col {
    display: inline-flex;
    justify-content: center;
}
.content > .section-w100p.contact > .section-960 > .row > #col-1 {
    padding-right: 15px;
    text-align: right;
}
.content > .section-w100p.contact > .section-960 > .row > #col-4 {
    padding-left: 15px;
    text-align: left;
}

/*
 *                   - Button (Display menu on blick)
 */

 #menu_products {
    display: none;
    z-index: 11;
    position: fixed;
    top: 25%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    background-color: rgb(230, 230, 230);
    border-radius: 11px;
    padding: 0px 20px;
 }

 #menu_products_close {
    position: absolute;
    right: 13px;
    top: 10px;
    background-color: #444;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    text-align: center;
    cursor: pointer;
 }

 #menu_products_close:before {
    content: 'x';
    color: #fff;
 }

 #menu_products_close:hover {
    background-color: #000;
 }

#menu_products_content > .title {
    text-align: center;
}

#menu_products_content > .sub_title {
    size: 14px;
    font-weight: 200;
    color: green;
}

#menu_products_content ul {
    padding-left: 15px;
    list-style: none;
}
#menu_products_content ul span:first-child:after {
    content: leader(dotted);
}
#menu_products_content ul span + span {
    float: right;
    position: relative;
    z-index: 1;
}