@media screen and (max-width: 740px) {
    .container {
        width: 90%;
        margin: auto;
    }
    .header.container {
        width: 90%;
    }
    .navbar {
        position: fixed;
        background-color: #07272b;
        height: 60px;
        padding: 5px 0 0 0;
    }
    .navbar-logo {
        float: left;
        background-image: url("../img/logo-mobile.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 50px;
        width: 310px;
    }

    .header {
        padding-top: 40px;
    }
    .header-title {
        font-size: 34px;
    }

    .portfolio-item-left {
        float: none;
        padding: 0;
        display: block;
        width: 100%;
    }
    .portfolio-item-right {
        margin: 0;
        display: block;
        padding: 5px 15px;
        width: 100%;
    }
    .portfolio-item-description {
        padding: 5px 0;
    }

    /* Menu coulissant */
    .navbar-list {
        display: none;
        position: fixed;
        top: 60px;
        line-height: 70px;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(20, 20, 20, 0.95);
    }
    .navbar-list-item {
        display: block;
        margin: 0;
        padding: 0 20px;
        height: 70px;

        text-align: right;

        border-bottom: 1px dashed rgba(255, 220, 220, 0.3);
    }
    .navbar-list-item:hover {
        color: #369fb3;
        background-color: rgba(255, 255, 255, 0.3);
    }

    .navbar.unstick {
        padding-left: 0;
        height: 60px;
    }
    .navbar.unstick .navbar-logo {
        margin-top: 0;
        height: 50px;
        width: 310px;
    }
    .navbar.unstick .navbar-list-item:hover {
        margin-top: initial;
        border-top: initial;
    }
}